.c-footer {
  padding-top: 80px;
  padding-bottom: 23px;
  background-color: $black;
  &__wrap {
    &_top {
      @extend %df;
      @extend %jcsb;
      align-items: flex-end;
    }
    &_bot {
      @extend %df;
      @extend %jcsb;
      align-items: flex-end;
      padding-top: 69px;
    }
  }
  &__menu {
    @extend %df;
  }
  &__menu-itm {
    margin-right: 37px;
    &:last-child {
      margin-right: 0;
    }
  }
  &__menu-link {
    @extend %body-text-2;
    color: $white;
  }
  &__text {
    @extend %body-text-2;
    color: $white;
  }
  &__copy {
    @extend %body-text-3-regular;
    color: $white;
    opacity: .5;
  }
  &__follow {
    @extend %df;
    align-items: flex-end;
    &-text {
      @extend %body-text-3-regular;
      color: $white;
      opacity: .5;
      margin-right: 40px;
    }
  }
  &__social-links {
    @extend %df;
  }
  &__social-itm {
    margin-right: 31px;
    &:last-child {
      margin-right: 0;
    }
  }
}
@include bp(1150px) {
  .c-footer {
    &__wrap {
      &_top {
        align-items: flex-start;
      }
      &_bot {
        padding-top: 33px;
      }
    }
    &__text {
      max-width: 230px;
    }
  }
}
@include bp(766px) {
  .c-footer {
    padding-top: 85px;
    &__wrap {
      &_top, &_bot {
        flex-direction: column;
        align-items: center;
      }
      &_bot {
        padding-top: 37px;
      }
    }
    &__text {
      text-align: center;
      margin-bottom: 37px;
    }
    &__menu {
      flex-direction: column;
      &-itm {
        margin-right: 0;
        margin-bottom: 14px;
        &:last-child {
          margin-bottom: 0;
        }
      }
      &-link {
        display: flex;
        justify-content: center;
        text-align: center;
      }
    }
    &__follow {
      order: -1;
      &-text {
        display: none;
      }
    }
    &__copy {
      margin: 0 auto;
      max-width: 200px;
      padding-top: 31px;
      text-align: center;
    }
  }
}