.c-navigation {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 21px;
    z-index: 5;
}
.c-nav {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    &__logo {
        padding-top: 1px;
    }
    &__btn {
        @extend %base-btn;
    }
}
@include bp(766px) {
    .c-nav__btn {
        display: none;
    }
}