body {
    font-size: 16px;
    &.modal--visible {
        .c-navigation {
            position: fixed;
        }
        overflow: hidden;
        .c-nav__btn {
            position: relative;
            &:after,
            &:before {
                position: absolute;
                content: '';
                @extend %db;
                width: 2px;
                height: 20px;
                background-color: $black;
                border-radius: 3px;
                @extend %evt-none;
            }
            &:after {
                transform: rotate(-45deg);
            }
            &:before {
                transform: rotate(45deg);
            }
            width: 48px;
            span {
                display: none;
            }
        }
        .c-modal-sect {
            opacity: 1;
            z-index: 4;
            @extend %evt-all;
        }
    }
}
main {
    @extend %bg-reset;
    background-position: top center;
    background-image: url($img_dir + 'main-bg.svg');
}
img {
    display: inline-block;
    width: inherit;
    height: inherit;
}
a {
    &:hover {
        // color: $color_link_hover;
    }
}