%base-btn {
  @extend %df;
  @extend %aic;
  @extend %jcc;
  width: rem(187);
  height: rem(48);
  @extend %btn-semi;
  color: $black;
  overflow: hidden;
  background-color: $base_cta;
  border: 2px solid transparent;
  border-radius: 30px;
  @extend %bg-reset;
  background-repeat: repeat-x;
  background-position: 0 -330%;
  background-size: auto;

  background-image: url($img_dir + 'btn-bg.svg');

  span {
    @extend %evt-none;
  }
  .ico-load {
    display: none;
  }
  .ico-done {
    display: none;
  }
  &.load {
    background-color: transparent;
    border-color: $base_cta;
    transition: 1.5s ease;
    background-position: 500% 100%;
    span {
      display: none;
    }
    .ico-load {
      display: block;
      width: 18px;
      height: 18px;
    }
  }
  &.done {
    background-position: 500% 100%;
    span {
      display: none;
    }
    .ico-done {
      display: block;
    }
  }
  &:hover {
    background-color: transparent;
    border-color: $base_cta;

  }
}