//---------------------------------------------fonts
$font_path: "../fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '../img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$dark_white: #FBFBFB;
$white: #fff;
$black: #000;
$base_cta: #FFD12A;
$cta_lp: #FECE2F;
$cta_darker: #F3C109;
$cta_lighter: #FFF4CA;
$cta_lightest: #FFF9E4;
$black_06: rgba($black, .6);
$black_03: rgba($black, .3);
$black_15: rgba($black, .15);
$simple_bg: #F8F8F8;
$white_04: rgba($white, .4);






$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
