doctype html
include modules/_global-variables
include block/_mixsins
html 
    include mainBlock/_head
    body
        //.modal--visible
        // Header START
        nav.c-navigation
            .container
                .c-nav
                    a.c-nav__logo(href='#')
                        img(src='img/logo.svg', alt='Logotype')
                    button.c-nav__btn.close-mod
                        span Inschrijven
        // Header END
        main
            // Header START
            header.c-header-sect
                .container
                    .c-header
                        figure.c-header__wrap.c-header__wrap_left
                            img(src='img/ill/header-ill.svg', alt='Header illustration')
                        .c-header__wrap.c-header__wrap_right
                            h1.c-header__title
                                | Speel het gratis
                                br
                                |             online marketing spel
                            p.c-header__text
                                | Meer verkeer, meer klanten en wie wint krijgt prijzen
                            form.c-header__form.form
                                .c-header__wrap-input
                                    input.c-header__input(type='text', placeholder='Vul uw e-mail in')
                                    button.c-header__btn.ct-btn
                                        span
                                            | Inschrijven
                                        i.ico-load
                                            svg(width='18', height='16', viewBox='0 0 18 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M16.5524 1.77627V6.44293M16.5524 6.44293H11.8857M16.5524 6.44293L12.9513 3.05182C11.8784 1.97829 10.4857 1.28253 8.98305 1.06938C7.48036 0.856237 5.94911 1.13726 4.62003 1.8701C3.29095 2.60294 2.23606 3.74789 1.61432 5.13243C0.992573 6.51697 0.837663 8.06607 1.17293 9.5463C1.5082 11.0265 2.31548 12.3577 3.47312 13.3392C4.63076 14.3207 6.07605 14.8994 7.59119 14.988C9.10633 15.0767 10.6092 14.6705 11.8734 13.8307C13.1376 12.9908 14.0946 11.7629 14.6002 10.3318', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                        i.ico-done
                                            svg(width='17', height='12', viewBox='0 0 17 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                                path(d='M15.5455 1L5.54545 11L1 6.45455', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            // Header END
            // Over START
            section.c-over-sect
                .container
                    .c-over
                        .c-over__wrap.c-over__wrap_left
                            h2.c-over__title
                                | Over
                            .c-over__wrap-text
                                p.c-over__text
                                    | Je website verbeteren om meer verkeer en klanten te krijgen via zoekmachines, kan een saai, repetitief en traag proces zijn. Elke dag weer een post bedenken voor social media kan soms als een saai klusje voelen.
                                p.c-over__text
                                    | Wij maken het leuker door het eerste online marketing spel ter wereld uit te brengen.
                        figure.c-over__wrap.c-over__wrap_right
                            img(src='img/ill/over-ill.svg', alt='Over illustration section')
            // Over END
            // How it work START
            section.c-how-it-work-sect
                .container
                    .c-how-it-work
                        h2.c-how-it-work__title
                            | Hoe het werkt
                        .c-how-it-work__wrapper
                            .c-how-it-work__item.c-how-it-work__item_1
                                figure.c-how-it-work__img
                                    img(src='img/ill/way-1.svg', alt='Alt')
                                p.c-how-it-work__text
                                    | Wij scannen je website, social media en nieuwsbrief en geven
                                    | op maat gemaakte tips
                                .c-how-it-work__number
                                    span
                                        | 01
                            .c-how-it-work__item.c-how-it-work__item_2
                                figure.c-how-it-work__img
                                    img(src='img/ill/way-2.svg', alt='Alt')
                                p.c-how-it-work__text
                                    | Voltooi korte opdrachten
                                    br
                                    |               om jouw online marketing
                                    br
                                    |               te versterken
                                .c-how-it-work__number
                                    span
                                        | 02
                            .c-how-it-work__item.c-how-it-work__item_3
                                figure.c-how-it-work__img
                                    img(src='img/ill/way-3.svg', alt='Alt')
                                p.c-how-it-work__text
                                    | We controleren je werk
                                    br
                                    |               en geven  aan of
                                    br
                                    |               het goed gegaan is
                                .c-how-it-work__number
                                    span
                                        | 03
                            .c-how-it-work__item.c-how-it-work__item_4
                                figure.c-how-it-work__img
                                    img(src='img/ill/way-4.svg', alt='Alt')
                                p.c-how-it-work__text
                                    | Spaar punten, verzamel trofeeën en strijd tegen anderen voor felbegeerde prijzen
                                .c-how-it-work__number
                                    span
                                        | 04
                            .c-how-it-work__item.c-how-it-work__item_5
                                figure.c-how-it-work__img
                                    img(src='img/ill/way-5.svg', alt='Alt')
                                p.c-how-it-work__text
                                    | Hulp nodig?
                                    br
                                    |               De community met
                                    br
                                    |               experts staan voor je klaar!
                                .c-how-it-work__number
                                    span
                                        | 05
                            .c-how-it-work__item.c-how-it-work__item_6
                                figure.c-how-it-work__img
                                    img(src='img/ill/way-6.svg', alt='Alt')
                                p.c-how-it-work__text
                                    | Er zijn geen verliezers:
                                    br
                                    |  door te spelen krijg je
                                    br
                                    |  meer bezoekers en klanten
                                .c-how-it-work__number
                                    span
                                        | 06
            // How it work END
            // Contact START
            section.c-contact-sect
                .container
                    .c-contact
                        figure.c-contact__wrap.c-contact__wrap_left
                            img(src='img/ill/contact-ill.svg', alt='Contact illustration')
                        .c-contact__wrap.c-contact__wrap_right
                            h2.c-contact__title
                                | Speel mee!
                            p.c-contact__text
                                | Het spel wordt binnenkort gelanceerd. Meld je aan om het spel als eerste twee maanden gratis te spelen. Onder de eerste aanmelders geeft Opklopper 10x een bol.com waardebon van 50 euro weg.
                            form.c-contact__form.form
                                .c-contact__wrap-inputs
                                    .c-contact__wrap-input
                                        input.c-contact__input(type='text', placeholder='Vul uw naam in')
                                    .c-contact__wrap-input
                                        input.c-contact__input(type='email', placeholder='Vul uw e-mail in*')
                                button.c-contact__btn.ct-btn
                                    span
                                        | Inschrijven
                                    i.ico-load
                                        svg(width='18', height='16', viewBox='0 0 18 16', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M16.5524 1.77627V6.44293M16.5524 6.44293H11.8857M16.5524 6.44293L12.9513 3.05182C11.8784 1.97829 10.4857 1.28253 8.98305 1.06938C7.48036 0.856237 5.94911 1.13726 4.62003 1.8701C3.29095 2.60294 2.23606 3.74789 1.61432 5.13243C0.992573 6.51697 0.837663 8.06607 1.17293 9.5463C1.5082 11.0265 2.31548 12.3577 3.47312 13.3392C4.63076 14.3207 6.07605 14.8994 7.59119 14.988C9.10633 15.0767 10.6092 14.6705 11.8734 13.8307C13.1376 12.9908 14.0946 11.7629 14.6002 10.3318', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                                    i.ico-done
                                        svg(width='17', height='12', viewBox='0 0 17 12', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M15.5455 1L5.54545 11L1 6.45455', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')     | Inschrijven

            // Contact END
        // Footer END
        footer.c-footer
            .container
                .c-footer__wrap.c-footer__wrap_top
                    .c-footer__text
                        | Doorgescrold en nog niet gevonden wat je zoekt?
                        br
                        |           Misschien kunnen we je hiermee helpen:
                    ul.c-footer__menu
                        li.c-footer__menu-itm
                            a.c-footer__menu-link(href='#')
                                | Home
                        li.c-footer__menu-itm
                            a.c-footer__menu-link(href='#')
                                | Over Ons
                        li.c-footer__menu-itm
                            a.c-footer__menu-link(href='#')
                                | Services
                        li.c-footer__menu-itm
                            a.c-footer__menu-link(href='#')
                                | Portfolio
                        li.c-footer__menu-itm
                            a.c-footer__menu-link(href='#')
                                | Contact
                .c-footer__wrap.c-footer__wrap_bot
                    .c-footer__copy
                        | Copyright © 2019 Opklopper. All rights reserved.
                    .c-footer__follow
                        .c-footer__follow-text
                            | Follow Us
                        ul.c-footer__social-links
                            li.c-footer__social-itm
                                a.c-footer__social-link(href='#')
                                    svg(width='21', height='20', viewBox='0 0 21 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M4.74185 19.9995V6.50509H0.263943V19.9995H4.74232H4.74185ZM2.50383 4.66297C4.06505 4.66297 5.03701 3.62675 5.03701 2.33178C5.00778 1.00729 4.06505 0 2.53352 0C1.00095 0 0 1.00729 0 2.33166C0 3.62663 0.971609 4.66285 2.47449 4.66285H2.50348L2.50383 4.66297ZM7.22044 19.9995H11.698V12.4644C11.698 12.0617 11.7272 11.6578 11.8455 11.3701C12.1691 10.564 12.9058 9.72953 14.1432 9.72953C15.763 9.72953 16.4114 10.9669 16.4114 12.7812V19.9995H20.8889V12.2622C20.8889 8.11749 18.6801 6.18872 15.7341 6.18872C13.3187 6.18872 12.2579 7.54095 11.6685 8.46195H11.6983V6.50556H7.22067C7.27912 7.77149 7.22032 20 7.22032 20L7.22044 19.9995Z', fill='#FCF5F3', fill-opacity='0.3')
                            li.c-footer__social-itm
                                svg(width='11', height='20', viewBox='0 0 11 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                    path(d='M7.54284 6.5533V4.83003C7.54284 4.57133 7.55561 4.37095 7.58156 4.2294C7.60742 4.08764 7.66625 3.94822 7.75755 3.81058C7.84872 3.67303 7.99634 3.57807 8.2002 3.52544C8.40433 3.47274 8.67559 3.44647 9.01426 3.44647H10.8631V0H7.90741C6.19721 0 4.96892 0.378185 4.22236 1.13455C3.47589 1.89109 3.1027 3.00546 3.1027 4.47807V6.55326H0.888916V9.99998H3.10256V20H7.5428V10H10.4983L10.8889 6.5533H7.54284Z', fill='#FCF5F3', fill-opacity='0.3')
        // Footer END
        // Modal success END
        .c-modal-sect
            button.c-modal__close.close-mod
                span
                span
            .container
                .c-modal
                    figure.c-modal__wrap.c-modal__wrap_left
                        img(src='img/success-ill.svg', alt='Illustration')
                    .c-modal__wrap.c-modal__wrap_right
                        h2.c-modal__title
                            | You are 
                            span #44
                            br
                            |             on the waiting list!
                            br
                            |             Want early access?
                        p.c-modal__text
                            | 1. Refer 5 friends and move up the list!
                            br
                            |             2. Opklopper T-shirt to the top 200 positions
                            br
                            |             3. Free lifetime access to the top 50 positions
                        h3.c-modal__subtitle
                            | Get 5 friends to sign up with this unique URL
                        .c-modal__copy-link
                            .c-modal__link.c-copy
                                | www.opklopper.nl/wg9wm
                            button.c-modal__btn
                                span
                                    | Copy
                                i
                                    svg(width='18', height='18', viewBox='0 0 18 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                        path(d='M14.6 11.4H15.4C15.8243 11.4 16.2313 11.2314 16.5314 10.9314C16.8314 10.6313 17 10.2243 17 9.8V2.6C17 2.17565 16.8314 1.76869 16.5314 1.46863C16.2313 1.16857 15.8243 1 15.4 1H8.2C7.77565 1 7.36869 1.16857 7.06863 1.46863C6.76857 1.76869 6.6 2.17565 6.6 2.6V3.4M9.8 6.6H2.6C1.71634 6.6 1 7.31634 1 8.2V15.4C1 16.2837 1.71634 17 2.6 17H9.8C10.6837 17 11.4 16.2837 11.4 15.4V8.2C11.4 7.31634 10.6837 6.6 9.8 6.6Z', stroke='black', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                        ul.c-modal__social
                            li.c-modal__social-item
                                a.c-modal__social-link(href='#')
                                    figure.c-modal__social-icon
                                        svg(width='11', height='20', viewBox='0 0 11 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M6.73996 20V10.8919H9.81266L10.2694 7.32577H6.73996V5.0543C6.73996 4.02525 7.02667 3.32069 8.50357 3.32069H10.375V0.1413C9.46483 0.043507 8.54913 -0.00316721 7.63343 0.000166652C4.91745 0.000166652 3.05271 1.65821 3.05271 4.70202V7.3191H0V10.8852H3.05937V20H6.73996Z', fill='black')
                            li.c-modal__social-item
                                a.c-modal__social-link(href='#')
                                    figure.c-modal__social-icon
                                        svg(width='21', height='20', viewBox='0 0 21 20', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M2.40784 4.81567C3.73765 4.81567 4.81567 3.73765 4.81567 2.40784C4.81567 1.07802 3.73765 0 2.40784 0C1.07802 0 0 1.07802 0 2.40784C0 3.73765 1.07802 4.81567 2.40784 4.81567Z', fill='black')
                                            path(d='M7.08925 6.64025V19.9989H11.2369V13.3928C11.2369 11.6496 11.5649 9.96148 13.7262 9.96148C15.8578 9.96148 15.8842 11.9544 15.8842 13.5028V20H20.0341V12.6741C20.0341 9.0756 19.2594 6.31011 15.0534 6.31011C13.034 6.31011 11.6804 7.41829 11.1269 8.46704H11.0708V6.64025H7.08925ZM0.330142 6.64025H4.48443V19.9989H0.330142V6.64025Z', fill='black')
                            li.c-modal__social-item
                                a.c-modal__social-link(href='#')
                                    figure.c-modal__social-icon
                                        svg(width='23', height='18', viewBox='0 0 23 18', fill='none', xmlns='http://www.w3.org/2000/svg')
                                            path(d='M19.8843 4.4859C19.899 4.68325 19.899 4.87946 19.899 5.07568C19.899 11.0806 15.3285 18 6.97582 18C4.40246 18 2.01178 17.2546 0 15.96C0.365368 16.0018 0.717203 16.0164 1.09723 16.0164C3.22065 16.0164 5.17491 15.2992 6.73675 14.0757C4.73963 14.034 3.06616 12.7258 2.48879 10.9261C2.76958 10.9678 3.0515 10.996 3.34695 10.996C3.75404 10.996 4.16339 10.9396 4.54342 10.8415C2.46059 10.4197 0.901015 8.59178 0.901015 6.38379V6.3274C1.50658 6.66458 2.20912 6.87545 2.95339 6.90365C1.72986 6.08946 0.928079 4.69678 0.928079 3.12141C0.928079 2.27791 1.15249 1.50432 1.54605 0.829971C3.78223 3.58489 7.14384 5.38579 10.9125 5.58313C10.8426 5.24483 10.7998 4.89412 10.7998 4.54229C10.7998 2.03884 12.8251 0 15.3421 0C16.6502 0 17.8308 0.548051 18.6608 1.43441C19.687 1.23706 20.6703 0.857035 21.5432 0.337176C21.206 1.39155 20.4877 2.27791 19.546 2.84062C20.4606 2.74139 21.3469 2.48879 22.1611 2.13695C21.5432 3.03684 20.7707 3.83862 19.8843 4.4859Z', fill='black')
        // Modal success END
        include mainBlock/_scripts