.c-over {
  @extend %df;
  @extend %jcsb;
  &-sect {
    padding-top: 29px;
  }
  &__wrap {
    &_left {
      padding-top: 186px;
      padding-left: 2px;
    }
    &_right {
      margin-right: -38px;
    }
  }
  &__title {
    @extend %lp-h2-title;
    color: $black;
    margin-bottom: 29px;
  }
  &__wrap-text {
    max-width: 480px;
  }
  &__text {
    @extend %h4-semi;
    color: $black;
    margin-bottom: 27px;
    &:last-child {
      margin-bottom: 0;
    }
  }
}
@include bp(1150px) {
  .c-over {
    &-sect {
      padding-top: 307px;
    }
    &__wrap {
      &_right {
        width: 374.12px;
        height: 377.9px;
        margin-right: -28px;
      }
      &_left {
        padding-top: 8px;
      }
      &-text {
        max-width: 358px;
      }
    }
  }
}
@include bp(766px) {
  .c-over {
    flex-direction: column;
    &-sect {
      padding-top: 195px;
    }
    &__wrap {
      &_left {
        padding: 0;
      }
      &_right {
        margin-left: 0;
        width: 100%;
        height: auto;
        margin-top: 45px;
      }
    }
    &__title {
      margin-bottom: 31px;
    }
  }
}