.c-contact {
  @extend %df;
  @extend %jcsb;
  &-sect {
    padding-top: 125px;
    padding-bottom: 124px;
  }
  &__wrap {
    &_left {
      margin-left: -27px;
    }
    &_right {
      padding-top: 83px;
    }
  }
  &__title {
    @extend  %lp-h2-title;
    color: $black;
  }
  &__text {
    @extend %h4-semi;
    color: $black;
    margin-top: 30px;
    padding-right: 70px;
    margin-bottom: 34px;
  }
  &__form {
    max-width: 466px;
    margin-left: -10px;
  }
  &__wrap-input {
    margin-bottom: 16px;
    &:last-child {
      margin-bottom: 20px;
    }
  }
  &__input {
    @extend %input-reset;
    @extend %body-text-1;
    width: 100%;
    height: 54px;
    background-color: $simple_bg;
    border-radius: 30px;
    padding-left: 24px;
    color: $black;
  }
  &__btn {
    @extend %base-btn;
  }
}
@include bp(1150px) {
  .c-contact {
    position: relative;
    &-sect {
      padding-top: 29px;
      padding-bottom: 324px;
    }
    &__wrap {
      &_left {
        width: 443.81px;
        height: 443.81px;
        margin-left: -69px;
      }
      &_right {
        padding-top: 90px;
        margin-left: -6px;
      }
    }
    &__text {
      padding-right: 10px;
    }
    &__form {
      position: absolute;
      bottom: -180px;
      transform: translateX(-50%);
      max-width: 100%;
      width: 592px;
    }
    &__btn {
      margin: 0 auto;
    }
  }
}
@include bp(766px) {
  .c-contact {
    flex-direction: column;
    &-sect {
      padding-top: 124px;
      padding-bottom: 140px;
    }
    &__wrap {
      &_left {
        width: 100%;
        height: auto;
        margin-left: 0;
      }
      &_right {
        padding-top: 98px;
        padding-left: 6px;
      }
    }
    &__form {
      position: relative;
      transform: none;
      width: 100%;
      margin-left: 0;
      bottom: auto;
    }
  }
}