.c-modal {
  @extend %df;
  @extend %jcsb;
  position: relative;
  z-index: 3;
  padding-top: 125px;

  &-sect {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba($white, .6);
    @extend %evt-none;
    z-index: -1;
    opacity: 0;
    transition: all .5s ease;
    &:before {
      position: fixed;
      content: '';
      display: block;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      @extend %bg-reset;
      background-image: url($img_dir + 'bg.svg');
    }
  }
  &__wrap {
    &_left {
      margin-left: -74px;
      margin-top: 58px;
    }
    &_right {
      max-width: 509px;
    }
  }
  &__title {
    @extend %lp-h2-title;
    color: $black;
  }
  &__text {
    @extend %h2-semi-small;
    color: $black;
    margin-top: 24px;
    margin-bottom: 45px;
  }
  &__subtitle {
    @extend %h3-bold;
    color: $black;
    padding-right: 40px;
    margin-bottom: 23px;
  }
  &__copy-link {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    width: 440px;
    height: 54px;
    padding: 3px 4px 3px 24px;
    background-color: $white;
    border-radius: 30px;
  }
  &__link {
    @extend %body-text-2;
    color: $black_06;
  }
  &__btn {
    @extend %base-btn;
    width: 187px;
    i {
      display: none;
    }
  }
  &__social {
    @extend %df;
    margin-top: 26px;
    &-item {
      margin-right: 24px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      @extend %df;
      @extend %aic;
      @extend %jcc;
      width: 48px;
      height: 48px;
      background-color: $white;
      border: 1px solid transparent;
      border-radius: 50%;
      transition: all .5s ease;
      &:hover {
        border-color: $white;
        background-color: transparent;
      }
    }
  }
}

@include bp(1250px) {
  .c-modal {
    padding-top: 75px;
    &__wrap {
      &_left {
        display: none;
      }
    }
  }
  body {
    &.modal--visible {
      .c-nav__btn {
        background-color: $white;
      }
    }
  }
}
@include bp(1150px) {
  .c-modal {
    padding-top: 0;
    flex-direction: column;
    &-sect {
      display: flex;
      justify-content: center;
      align-items: center;
      &:before {
        display: none;
      }
      background-color: $base_cta;
    }
    &__wrap {
      &_left {
        display: block;
        width: 450px;
        margin: 0 auto;
      }
      &_right {
        margin: 0 auto;
        margin-top: 20px;
      }
    }
  }
}
@include bp(766px) {
  body {
    &.modal--visible {
      .c-navigation {
        z-index: 100;
      }
      .c-nav__btn {
        display: flex;
      }
    }
    .c-modal {
      &-sect {
        z-index: 99 !important;
      }
    }
  }
  .c-modal {
    &-sect {
      display: block;
      padding-top: 80px;
      padding-bottom: 30px;
      overflow-x: scroll;
    }
    &__wrap {
      &_left {
        display: none;
      }
    }
    &__copy-link {
      width: 100%;
      padding-right: 30px;
    }
    &__btn {
      width: 30px;
      background-color: transparent;
      span {
        display: none;
      }
      i {
        display: block;
        width: 16px;
        height: 17px;
      }
    }
  }
}